html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: #25272e; }

.wrapper {
  width: 100%;
  background: #25272e; }
  .wrapper .container {
    max-width: 160rem;
    margin: 0 auto; }
    .wrapper .container .title {
      max-width: 160rem;
      font-size: 5rem;
      padding: 6rem 1rem;
      margin: 0 auto; }

.header {
  height: 100vh;
  width: 100%; }
  .header .nav {
    position: relative; }
    .header .nav .burger {
      position: fixed;
      z-index: 2;
      top: .5rem;
      right: .5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 4rem;
      height: 4rem;
      background: #673AB7;
      border-radius: 50%;
      -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
              box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .header .nav .burger__item {
        position: relative;
        top: 0;
        width: 60%;
        height: .3rem;
        display: block;
        background: #eee;
        margin: .3rem auto;
        -webkit-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
        transition: all .1s ease-in; }
      .header .nav .burger:hover {
        cursor: pointer; }
    .header .nav .cross:nth-child(1) {
      top: .6rem;
      right: -.7rem;
      width: 30%;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .header .nav .cross:nth-child(2) {
      width: 40%; }
    .header .nav .cross:nth-child(3) {
      top: -.6rem;
      right: -.7rem;
      width: 30%;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .header .nav .menu {
      position: fixed;
      top: 0;
      left: 0;
      margin-left: -100rem;
      opacity: 0;
      z-index: -1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      height: 100vh;
      background: #25272e;
      -webkit-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in; }
      .header .nav .menu__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        opacity: 0;
        margin: 1rem 0 0 -3rem; }
        .header .nav .menu__item a {
          width: 90%;
          max-width: 70rem;
          text-align: center;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          font-size: 4rem;
          text-decoration: none;
          padding: 1rem 0;
          color: #fff; }
    .header .nav .show-menu {
      margin-left: 0;
      opacity: 1;
      z-index: 1;
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out; }
  .header .banner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/bcg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .header .banner__title {
      display: none; }
    .header .banner__subtitle {
      font-size: 10rem;
      padding-left: 1rem;
      text-shadow: 1px 1px 1px #000;
      letter-spacing: .5rem;
      text-align: center;
      opacity: 0;
      -webkit-animation: title 1s .4s forwards;
              animation: title 1s .4s forwards;
      margin-bottom: 5rem; }

.content {
  width: 100%;
  color: #fff; }
  .content .section {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 5rem 0; }
  .content .about {
    width: 100%; }
    .content .about .card-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .content .about .card-box__item {
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 1rem;
        margin: 8rem 2rem 3rem;
        text-align: center;
        max-width: 60rem; }
        .content .about .card-box__item .photo {
          width: 100%;
          text-align: center; }
        .content .about .card-box__item .description {
          width: 100%; }
          .content .about .card-box__item .description__title {
            padding: 2rem 0;
            font-size: 2.5rem;
            opacity: .87; }
          .content .about .card-box__item .description__read-more {
            display: block;
            display: none; }
          .content .about .card-box__item .description__para, .content .about .card-box__item .description__read-more {
            width: 100%;
            font-size: 1.6rem;
            line-height: 2.4rem;
            opacity: .5; }
          .content .about .card-box__item .description__btn {
            outline: none;
            font-size: 1.4rem;
            margin: 2rem auto;
            display: block;
            background: #673AB7;
            border: none;
            padding: .8rem 1.6rem;
            border-radius: .2rem;
            color: #fff;
            opacity: 0.87;
            -webkit-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            transition: all .2s ease-in; }
            .content .about .card-box__item .description__btn:hover {
              cursor: pointer;
              -webkit-transform: scale(1.05);
                  -ms-transform: scale(1.05);
                      transform: scale(1.05);
              background: #fff;
              color: #25272e;
              -webkit-transition: all .2s ease-in;
              -o-transition: all .2s ease-in;
              transition: all .2s ease-in; }
  .content .projects .container .projects-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .content .projects .container .projects-box .project {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: 95%;
      background: #30333c;
      color: #fff;
      border-radius: .2rem;
      border: 1px solid #fff;
      margin: 1rem 0;
      z-index: 3;
      overflow: hidden; }
      .content .projects .container .projects-box .project .icon {
        font-size: 8rem;
        margin: 2rem 0;
        color: #bdbdbd; }
      .content .projects .container .projects-box .project__title {
        font-size: 3rem;
        opacity: .87; }
      .content .projects .container .projects-box .project__type {
        margin: 2rem 0;
        opacity: .5;
        font-size: 1.4rem; }
      .content .projects .container .projects-box .project__link {
        outline: none;
        font-size: 1.4rem;
        margin: 2rem auto;
        display: block;
        background: #673AB7;
        border: none;
        padding: .8rem 1.6rem;
        border-radius: .2rem;
        color: #fff;
        opacity: 0.87;
        -webkit-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        text-decoration: none; }
        .content .projects .container .projects-box .project__link:hover {
          cursor: pointer;
          -webkit-transform: scale(1.05);
              -ms-transform: scale(1.05);
                  transform: scale(1.05);
          background: #fff;
          color: #25272e;
          -webkit-transition: all .2s ease-in;
          -o-transition: all .2s ease-in;
          transition: all .2s ease-in; }
      .content .projects .container .projects-box .project .overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        height: 100%;
        background: #1a1b20;
        text-align: center;
        margin-top: -30rem;
        opacity: 0;
        -webkit-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out; }
        .content .projects .container .projects-box .project .overlay .description {
          font-size: 2rem;
          padding: 1rem .5rem;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          line-height: 3rem; }
        .content .projects .container .projects-box .project .overlay .technology {
          margin-top: 1rem;
          padding: .5rem; }
          .content .projects .container .projects-box .project .overlay .technology__item {
            font-size: 1.4rem;
            line-height: 2.1rem; }
      .content .projects .container .projects-box .project__info {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 5rem;
        height: 5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 1; }
        .content .projects .container .projects-box .project__info .fa-info {
          font-size: 3rem; }
        .content .projects .container .projects-box .project__info:hover {
          cursor: pointer; }
      .content .projects .container .projects-box .project .show-project-details {
        opacity: 1;
        margin-top: 0;
        -webkit-transition: all .5s ease-in;
        -o-transition: all .5s ease-in;
        transition: all .5s ease-in; }
  .content .contact .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 70rem;
    margin: 0 auto; }
    .content .contact .form .label {
      font-size: 2rem;
      width: 95%;
      padding: 2rem 0; }
      .content .contact .form .label__input {
        width: 100%;
        border: none;
        outline: none;
        height: 3rem;
        border-radius: .3rem;
        margin: 1rem auto;
        display: block;
        text-indent: .5rem;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
        .content .contact .form .label__input:focus, .content .contact .form .label__input:hover {
          -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
      .content .contact .form .label .textarea {
        height: 10rem;
        padding: .5rem 0;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
        .content .contact .form .label .textarea:focus, .content .contact .form .label .textarea:hover {
          -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .content .contact .form__btn {
      outline: none;
      font-size: 1.4rem;
      margin: 2rem auto;
      display: block;
      background: #673AB7;
      border: none;
      padding: .8rem 1.6rem;
      border-radius: .2rem;
      color: #fff;
      opacity: 0.87;
      -webkit-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      transition: all .2s ease-in; }
      .content .contact .form__btn:hover {
        cursor: pointer;
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
        background: #fff;
        color: #25272e;
        -webkit-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in; }
    .content .contact .form__info {
      width: 100%; }
      .content .contact .form__info-title {
        font-size: 5rem; }
      .content .contact .form__info-subtitle {
        font-size: 3rem; }

.footer {
  width: 100%;
  padding: 3rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer .box-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0; }
    .footer .box-socials .social {
      margin: 2rem;
      font-size: 3rem; }
      .footer .box-socials .social a {
        color: #fff;
        -webkit-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in; }
        .footer .box-socials .social a:hover {
          color: #673AB7;
          -webkit-transition: all .2s ease-in;
          -o-transition: all .2s ease-in;
          transition: all .2s ease-in; }
  .footer .info {
    color: #fff; }

.mail-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #25272e;
  color: #fff; }
  .mail-box__title {
    font-size: 2.5rem;
    padding: 3rem 0;
    opacity: .87; }
  .mail-box__subtitle {
    font-size: 1.5rem;
    opacity: .6; }
  .mail-box__link {
    outline: none;
    font-size: 1.4rem;
    margin: 2rem auto;
    display: block;
    background: #673AB7;
    border: none;
    padding: .8rem 1.6rem;
    border-radius: .2rem;
    color: #fff;
    opacity: 0.87;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    text-decoration: none; }
    .mail-box__link:hover {
      cursor: pointer;
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05);
      background: #fff;
      color: #25272e;
      -webkit-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      transition: all .2s ease-in; }

@-webkit-keyframes arrow {
  from {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem); }
  to {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem); } }

@keyframes arrow {
  from {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem); }
  to {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem); } }

@-webkit-keyframes title {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem); }
  70% {
    opacity: .7;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes title {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem); }
  70% {
    opacity: .7;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@media screen and (min-width: 768px) {
  .header .banner__subtitle {
    font-size: 25rem; }
  .content .section {
    padding: 10rem 0; }
  .content .projects .container {
    margin: 0; }
    .content .projects .container .projects-box {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      overflow: hidden; }
      .content .projects .container .projects-box .project {
        position: relative;
        width: 50%;
        height: 50vh;
        background: none;
        border: none;
        -webkit-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out; }
        .content .projects .container .projects-box .project:hover {
          background: #1a1b20;
          cursor: pointer;
          -webkit-transition: all .2s ease-out;
          -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
          -webkit-transform: translate(1rem, -1rem);
              -ms-transform: translate(1rem, -1rem);
                  transform: translate(1rem, -1rem);
          -webkit-box-shadow: 0 5px 1px #673AB7;
                  box-shadow: 0 5px 1px #673AB7;
          border-radius: .2rem; } }

@media screen and (min-width: 1024px) {
  .header .banner__subtitle {
    font-size: 30rem; }
  .content .about .container .card-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media screen and (min-width: 1600px) {
  .content .projects .container {
    max-width: 100%; }
    .content .projects .container .projects-box {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .content .projects .container .projects-box .project {
        width: 33.33%; } }
